  <header id="masthead" class="site-header mask" role="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="site-header-inner col-sm-12">
          <div class="container">
            <p class="lead">
              <a href="http://staging.verapdf.org/" title="veraPDF" rel="home">
                <img src="/assets/img/veraPDF-logo-200.png" class="shadowed" alt="The veraPDF logo" title="veraPDF logo" width="200" height="100">
              </a>
            </p>
            <h1>Industry-accepted PDF/A validation.</h1>
            <p class="lead">veraPDF is a purpose-built, open source, file-format validator covering all PDF/A parts and conformance levels. veraPDF is designed to meet the needs of digital preservationists and is supported by the PDF software developer community.</p>
            <p><a class="btn btn-lg btn-primary" href="http://downloads.verapdf.org/rel/verapdf-installer.zip" role="button">Download veraPDF&nbsp;<i class="fa fa-download"></i></a></p>
          </div>
        </div>
      </div><!-- .row -->
    </div><!-- .container-fluid -->
  </header><!-- #masthead -->
