  <nav class="site-navigation" id="top">
    <div class="container">
      <div class="navbar-header">
        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Your site title as branding in the menu -->
        <a class="navbar-brand active" href="http://staging.verapdf.org/" title="veraPDF" rel="home"><div id="menu-logo">&nbsp;</div></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://github.com/veraPDF/"><i class="fa fa-github"></i> GitHub</a></li>
          <li><a href="/download/"><i class="fa fa-download"></i> Download</a></li>
        </ul>
        <!-- The WordPress Menu goes here -->
        <ul id="main-menu" class="nav navbar-nav navbar-right">
          <li><a title="Get Involved" href="http://staging.verapdf.org/get-involved/">Get Involved</a></li>
          <li><a title="Resources" href="http://staging.verapdf.org/resources/">Resources</a></li>
          <li><a title="News" href="http://staging.verapdf.org/news/">News</a></li>
          <li><a title="Community" href="http://staging.verapdf.org/community/">Community</a></li>
          <li><a title="Open Source" href="http://staging.verapdf.org/open-source/">Open Source</a></li>
          <li><a title="PDF/A Validation" href="http://staging.verapdf.org/pdfa-validation/">PDF/A Validation</a></li>
          <li><a title="About" href="http://staging.verapdf.org/about/">About</a></li>
        </ul>
      </div><!-- #navbar -->
    </div><!-- .container -->
  </nav><!-- .site-navigation -->
